<div class="wrapper-md">
    <div class="breadcrumb-line">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home position-left"></i> 首页</a></li>
            <li><a href="#">销售管理</a></li>
            <li class="active">物流设置</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <!-- heder -->
        <div class="panel-heading">
            <div class="row search-row" >
                <div class="col-lg-4">
                    <div class="form-group">
                        <label  class="col-sm-3 control-label" style="margin-top: 5px;">关&nbsp;键&nbsp;字:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="query.keyword" class="form-control" placeholder="输入关键字查询" style="height: 28px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-default btn-icon" ng-click="search();"><i class="fa fa-search"></i>查&nbsp;询</button>
                    <button class="btn btn-default btn-icon" ng-click="clearQuery();"><i class="fa fa-twitter"></i>清&nbsp;空</button>
                </div>
            </div>
            <div class="row tools-row">
                <div class="col-lg-4 "></div>
                <div class="col-lg-8 text-right">
                    <button ng-click="showCreateModal('md')" title="创建" class="btn btn-sm btn-success"><em class="fa fa-pencil"></em></button>
                    <button ng-click="deleteSelected()" title="批量删除" class="btn btn-sm btn-danger"><em class="fa fa-trash-o"></em></button>
                </div>
            </div>
        </div>
        <!-- 内容-->
        <div class="table-responsive">

            <table id="table-ext-1" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th check-all="check-all" select-items="selectItems">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </th>
                    <th>编号</th>
                    <th>名称</th>
                    <th>关键字</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in tableData">
                    <td >
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" ng-model='selectItems[$index]' ng-true-value='{{item.expressId}}'  ng-false-value="-1" value="{{item.expressId}}" name="expressId"/>
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>{{item.expressId}}</td>
                    <td>{{item.expressName}}</td>
                    <td>{{item.keywords}}</td>
                    <td>{{item.createUser}}</td>
                    <td>{{item.createTime}}</td>
                    <td>
                        <a ng-click="showEditModal(item.expressId,'md')" title="编辑"><i class="fa fa-fw m-r-xs text-info fa-pencil"></i></a>
                        <a ng-click="delete(item.expressId,item.expressName)" title="删除"><i class="fa fa-times text-danger text"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--底部-->
        <div class="panel-footer">
            <table-pagination page="pagination" go-page="goPage(pageNow)" select-page-size="selectPageSize(pageSize)"></table-pagination>
        </div>
    </div>
</div>
<script type="text/ng-template" id="EditExpressModal.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="EditExpressModal" class="modal-title">修改物流方式({{express.expressName}})</h4>
    </div>
    <div class="modal-body">
        <div class="row search-row">
            <div class="form-group">
                <label class="col-sm-2 control-label">名&nbsp;&nbsp;称:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="express.expressName" class="form-control">
                </div>
            </div>
        </div>
        <div class="row search-row">
            <div class="form-group">
                <label class="col-sm-2 control-label">关键字:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="express.keywords"  class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" class="btn btn-primary">保存</button>
        <button ng-click="cancel()" class="btn btn-warning">取消</button>
    </div>
</script>

<script type="text/ng-template" id="CreateExpressModal.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="CreateExpressModal" class="modal-title">创建物流方式</h4>
    </div>
    <div class="modal-body">
        <div class="row search-row">
            <div class="form-group">
                <label class="col-sm-2 control-label">名&nbsp;&nbsp;称:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="express.expressName" class="form-control">
                </div>
            </div>
        </div>
        <div class="row search-row">
            <div class="form-group">
                <label class="col-sm-2 control-label">关键字:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="express.keywords"  class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" class="btn btn-primary">保存</button>
        <button ng-click="cancel()" class="btn btn-warning">取消</button>
    </div>
</script>
