<!-- first -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"></li>
    <!--首页-->
    <li>
        <a ui-sref="app.home">
            <i class="fa fa-dashboard text-primary-dker"></i>
            <span class="font-bold" translate="aside.nav.home">首页</span>
        </a>
    </li>
    <li class="line dk"></li>
    <li ng-class="{active:$state.includes('app.layout')}"></li>
    <!--会员管理-->
    <li ng-class="{active:$state.includes('app.layout')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <b class="badge bg-info pull-right">3</b>
            <i class="fa fa-users"></i>
            <span translate="aside.nav.member.name">会员管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.member.type">
                    <span translate="aside.nav.member.member_type">级别设置</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.member.list">
                    <span translate="aside.nav.member.member_list">会员信息</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk"></li>
    <!--销售管理-->
    <li ng-class="{active:$state.includes('app.sales')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <b class="badge bg-info pull-right">3</b>
            <i class="fa fa-shopping-cart"></i>
            <span translate="aside.nav.sales.name">销售管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="layout.app">
                    <span translate="aside.nav.sales.sales_order">订单管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="layout.fullwidth">
                    <span translate="aside.nav.sales.return_order">售后单</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.sales.express">
                    <span translate="aside.nav.sales.express">物流设置</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.sales.paymethod">
                    <span translate="aside.nav.sales.pay">支付设置</span>
                </a>
            </li>
        </ul>
    </li>
    <!--商品管理-->
    <li ng-class="{active:$state.includes('app.layout')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <b class="badge bg-info pull-right">3</b>
            <i class="fa fa-leaf"></i>
            <span translate="aside.nav.goods.name">商品管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.item.list">
                    <span translate="aside.nav.goods.goods_list"><!--基础资料--></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="layout.fullwidth">
                    <span translate="aside.nav.goods.goods_attr">规格设置</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.online.list">
                    <span translate="aside.nav.goods.online_list"><!--在线商品--></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.promote.list">
                    <span translate="aside.nav.goods.promote_list"><!--商品促销--></span>
                </a>
            </li>

        </ul>
    </li>
    <!--库存管理-->
    <li ng-class="{active:$state.includes('app.table')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <b class="label bg-primary pull-right">2</b>
            <i class="fa fa-home"></i>
            <span translate="aside.nav.warehouse.name"><!--库存管理--></span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.stock.list">
                    <span translate="aside.nav.warehouse.stock_list"><!--库存列表--></span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk"></li>
    <!--基础设置-->
    <li ng-class="{active:$state.includes('app.basics')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <b class="badge bg-info pull-right">3</b>
            <i class="fa fa-gear"></i>
            <span translate="aside.nav.basics.name">基础设置</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.basics.catalog">
                    <span translate="aside.nav.basics.catalog">目录设置</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.basics.category">
                    <span translate="aside.nav.basics.category">类目管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.basics.brand">
                    <span translate="aside.nav.basics.brand"><!--品牌管理--></span>
                </a>
            </li>
        </ul>
    </li>
    <!--统一配置-->
    <li ng-class="{active:$state.includes('app.page')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-user icon"></i>
            <span translate="aside.nav.configuration.name">统一配置</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.table.datatable">
                    <span translate="aside.nav.configuration.user">用户管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.page.profile">
                    <span translate="aside.nav.configuration.role">角色管理</span>
                </a>
            </li>
        </ul>
    </li>
    <!--监控管理-->
    <li ng-class="{active:$state.includes('app.page')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-stats icon"></i>
            <span translate="aside.nav.monitor.name">监控管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.page.profile">
                    <span translate="aside.nav.monitor.message_queue">MQ监控</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.page.profile">
                    <span translate="aside.nav.monitor.redis">Redis监控</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.monitor.schedule">
                    <span translate="aside.nav.monitor.schedule">调度监控</span>
                </a>
            </li>
        </ul>
    </li>
    <!--系统设置-->
    <li ng-class="{active:$state.includes('app.page')}">
        <a href class="auto">
            <i class="fa fa-gears"></i>
            <span translate="aside.nav.system_setting">系统设置</span>
        </a>
    </li>
</ul>
<!-- / third -->