<div class="wrapper-md">
    <div class="breadcrumb-line">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home position-left"></i> 首页</a></li>
            <li><a href="#">基础设置</a></li>
            <li class="active">目录设置</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="head-menu">
                <a  title="新增" ng-click="showModal('create','md')"><i class="fa fa-pencil-square-o text-success text" style="margin-right: 20px;">&nbsp;新增</i></a>
                <a  title="编辑" ng-click="showModal('update','md')"><i class="fa fa-pencil text-info text" style="margin-right: 20px;">&nbsp;编辑</i></a>
                <a  title="删除" ng-click="tree.delete()"><i class="fa fa-times text-danger text">&nbsp;删除</i></a>
            </div>
            <span ng-if="tree.data == null">加载中...</span>
            <abn-tree ng-if="tree.data" tree-data="tree.data" on-select="tree.selectNode(branch)" expand-level="2" ></abn-tree>
        </div>

    </div>
</div>

<script type="text/ng-template" id="CreateOrUpdateCatalogModal.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="CreateOrUpdateCatalogModal" class="modal-title">{{title }}</h4>
    </div>
    <div class="modal-body">
        <div class="row search-row">
            <div style="text-align: center">
                <img src="{{selectedNode.image}}" height="150" width="150" />
            </div>
        </div>

        <div class="row search-row">
            <div class="form-group">
                <label class="col-sm-2 control-label">父级:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="selectedNode.parent.name" disabled class="form-control" placeholder="所选父级名称">
                </div>
            </div>
        </div>

        <div class="row search-row">
            <div class="form-group">
                <label class="col-sm-2 control-label">名称:</label>
                <div class="col-sm-10">
                    <input type="text"  ng-model="selectedNode.name" class="form-control" placeholder="请输入目录名称">
                </div>
            </div>
        </div>
        <div class="row search-row">
            <div class="form-group">
                <label class="col-sm-2 control-label">级别：</label>
                <div class="col-sm-10">
                    <input type="number" ng-model="selectedNode.levl" class="form-control" placeholder="排序级别">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" class="btn btn-primary">保存</button>
        <button ng-click="cancel()" class="btn btn-warning">取消</button>
    </div>
</script>